{% extends 'base.html.twig' %}

{% block header_scripts %}
    <script type="application/javascript" src={{ asset('app/app.ui.js') }}></script>
    <script type="application/javascript" src={{ asset('app/app.js') }}></script>
    <script type="application/javascript" src={{ asset('app/dashboard.js') }}></script>
    <script type="application/javascript" src={{ asset('app/radian.js') }}></script>
    <script type="application/javascript" src={{ asset('app/fire.js') }}></script>
    <script type="application/javascript" src={{ asset('app/lift.js') }}></script>
    <script type="application/javascript" src={{ asset('app/incident.js') }}></script>


{% endblock %}

{% block body %}
    {#<style>#}
    {#.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
    {#.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
    {#</style>#}

    {#<div class="example-wrapper">#}
    {#<h1>Hello {{ controller_name }}! ✅</h1>#}

    {#This friendly message is coming from:#}
    {#<ul>#}
    {#<li>Your controller at <code><a href="{{ 'src/Controller/CoreController.php'|file_link(0) }}">src/Controller/CoreController.php</a></code></li>#}
    {#<li>Your template at <code><a href="{{ 'templates/core/index.html.twig'|file_link(0) }}">templates/core/index.html.twig</a></code></li>#}
    {#</ul>#}
    {#</div>#}


{% endblock %}

{% block javascripts %}


    <script type="application/javascript">

        webix.ready(function () {
            // createWND()
            app.init()
        })

    </script>
{% endblock %}