{% extends 'base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block header_scripts %}
    <link rel="stylesheet" href={{ asset('libs/bootstrap/dist/css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{  asset('libs/AdminLTE.min.css') }}>

{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#<div class="example-wrapper">#}
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/app_b/utown/src/Controller/IssuesController.php'|file_link(0) }}">src/Controller/IssuesController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/app_b/utown/templates/issues/index.html.twig'|file_link(0) }}">templates/issues/index.html.twig</a></code></li>#}
{#    </ul>#}
{#</div>#}

    <h1>Мониторинг</h1>

    <div class="row">


        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>

                    <p>Закрыто инцидентов</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53</h3>

                    <p>Инциденты в работе</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>4</h3>

                    <p>Превышение фона</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>5</h3>

                    <p>Возгораний</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>

            </div>
        </div><!-- ./col -->

        <!-- ./col -->


    </div>



    </div>
{% endblock %}
