<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Мой.Город Админка{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href={{ asset('libs/webix/skins/mini.css') }}>
        <script type="application/javascript" src={{ asset('libs/webix/webix.js') }}></script>
        {#<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.0.3" type="text/css" charset="utf-8">#}

        <link rel="stylesheet" href={{ asset('libs/@mdi/font/css/materialdesignicons.css') }}>
        <link rel="stylesheet" href={{ asset('libs/@fortawesome/fontawesome-free/css/all.css') }}>

        {% block header_scripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
